server:
  port: 8081

spring:
  application:
    name: ad-manager

  config:
    import: "optional:configserver:http://localhost:8888/"

  datasource:
    url: jdbc:postgresql://localhost:5432/ad_broker_db
    username: admin
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    baseline-on-migrate: true